body {
    background-color: #f0ceff;
}

.game {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.rightCol {
    display: flex;
    flex-direction: column;
}

canvas {
    align-self: flex-start;
    margin-bottom: 10px;
}

#holdShapeCanvas {
    
}

#gameBoardCanvas {

}

#nextShapeCanvas {
    
}

#scoreCanvas {
    
}

#resetButton {
    width: 64px; 
    height: 64px; 
    border-radius: 50%; 
    background-color: gray; 
    border: 0px
}
button:hover {
    background-color: #bca0dc !important;
  }
button:active {
    background-color: #9969d0 !important;
  }