body {
    background-color: #f0ceff;
    text-align: center;
}

p {
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5% 0% 2.5% 0%;
}

.startMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#originalGameButton {
    height: 70%;
    width: 50%;
    background-color: gray; 
    border: none;
}

#game {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.column {
    display: flex;
    flex-direction: column;
}

#resetButton {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: black; 
    border: 0px
}

#resetButton:hover {
    background-color: #bca0dc !important;
  }
  
#resetButton:active {
    background-color: #9969d0 !important;
  }

.hidden {
    display: none;
}